<nav class="contenedor-menu-principal">
    <div class="contenedor-menu-items">
        <ul>
            <li><a href="#"><img src="https://res.cloudinary.com/dvtvnjgle/image/upload/v1618199239/logo_tradizone_zmvj3g.gif" alt="logo" ></a></li>
            <li><a href="#">Historias</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Restaurantes</a></li>
            <li><a href="#">Menú del día</a></li>
            <li><a href="#">A cerca de</a></li>
        </ul>
    </div>
    <div class="contenedor-sesion">
        <ul>
            <li><a class="item-login" href="#">Iniciar Sesion</a></li>
            <li><a class="item-registro" href="#">Registrarme</a></li>
        </ul>
    </div>
</nav>
