<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="navbar-brand" href="#">
              <img src="https://res.cloudinary.com/dvtvnjgle/image/upload/v1618199239/logo_tradizone_zmvj3g.gif" alt="" height="50" class="d-inline-block align-text-top">
            </a>
            <a class="nav-link" href="#">Historia</a>
            <a class="nav-link" href="#">Restaurantes</a>
            <a class="nav-link" href="#">A cerca de</a>
          </div>        
        </div>
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/usuario-registro']">Registrarse</a>
          <a class="nav-link" href="restaurante-registro">Registrar Restaurante</a>
          <a class="nav-link" href="home">Iniciar Sesión</a>
        </div>
      </div>
    </nav>
  </div>