<!-- <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="navbar-brand" href="#">
              <img src="https://res.cloudinary.com/dvtvnjgle/image/upload/v1618199239/logo_tradizone_zmvj3g.gif" alt="" height="50" class="d-inline-block align-text-top">
            </a>
            <a class="nav-link" href="#">Historia</a>
            <a class="nav-link" href="#">Restaurantes</a>
            <a class="nav-link" href="#">A cerca de</a>
          </div>        
        </div>
        <div class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Otros..</a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="plato-registro">Agregar Plato</a></li>
              <li><a class="nav-link" href="sucursal-registro">Registrar Sucursal</a></li>
              <li><a class="nav-link" href="restaurante-registro">Registrar Restaurante</a></li>
            </ul>
          </li>            
          <a class="nav-link" href="usuario-registro">Registrarse</a>
          <a class="nav-link" href="home">Iniciar Sesión</a>
        </div>
      </div>
    </nav>
  </div> -->
  <div class="menu-principal">
    <div class="logo">
      <a href="home"><img src="../../../../assets/img/logo_tradizone.gif"></a>
    </div>
    <ul>
      <li><a href="#">Historia</a></li>
      <li><a href="#">Restaurantes</a></li>
      <li><a href="#">Menu Recomendado</a></li>
      <li><a href="#">A cerca de</a></li>
    </ul>
    <div class="btns-sesion">
      <div class="boton btn-registrarse" ><a href="usuario-registro">Registrarse</a> </div>
      <div class="boton btn-login" ><a href="home">Iniciar Sesión</a></div>
    </div>
  </div>